@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Cabin' , Sans-Serif;
  background-color: #f0f4f8;
}


/* a{
  text-decoration: none;
} */

.profile-img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.tw-absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
.file-btn{
  display: none;
}
/* @media (max-width:280px) {
  .container{
    width: 100%;
  }
} */